@import url('https://fonts.googleapis.com/css?family=Nunito Sans');

body{
  font-family: "Lato", sans-serif;
  max-width: 21cm;
  min-width: 7cm;
  overflow-x: auto;
  max-height: 29.7cm;
  margin: 0 auto;
  padding: 8px;
  font-size: 14px;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;  
}

header{
  color: white;
  background-color: orange;
  padding: 1em 1em 0.4em;
}

header img{
  height: 1em;
  position: relative;
  margin: 0 0.4em -0.2em;
  filter: invert(1);
}

header ul{
  padding-inline-start: 0.1em;
}
header li{
  margin: 0.2em 0.2em 0;
}

header a {
  color: whitesmoke;
}

main a {
  color: black;
  text-decoration: none;
  margin-bottom: 0.1em;
}

main a::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0.5em;
  padding: 0;
  font-size: x-small;
  color: orange;
}

a:hover::after{
  color: orange;
  border-bottom: 0.1em solid orange;
}

main a:hover{
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.16em;
}

h1{
  font-size: 2.8em;
  margin-block-start: .1em;
  margin-block-end: 0;
}

h2{
  margin-block-end: .16em;
  margin-block-start: .16em;
  opacity: 0.7;
}

h3,h4 {
  margin-block-start: .2em;
  margin-block-end: 0;
}

code {
  font-size: small;
  font-weight: 800;
}

em{
  font-weight: bold;
}

address {
  font-size: 0.8rem;
}

details > ul,
address > ul{
  list-style-type: none;
}

p {
  padding-inline-start: 1em;
  margin-block-start: 0.4em;
  margin-block-end: 0.4em;
}

dl,ul{
  padding-inline-start: 1.2em;
  padding-inline-end: 0.1em;
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
}

dd {
  margin-inline-start: 16px;
}

meter::-webkit-meter-optimum-value {
  background:orange;
  background-size: 100% 100%;
  height: 1em;
  border-radius: 0.1em;
  box-shadow: 0.5px 0.5px 0.8px 0.8px lightgray;
}

meter::-webkit-meter-bar {
  background:whitesmoke;
  background-size: 100% 100%;
  height: 1.2em;
  border: solid 0.02em lightgray;
  border-radius: 0.2em;
  box-shadow: 0.5px 0.5px 0.5px 0.5px lightgray inset;
}

meter{
  -webkit-appearance: meter;
  appearance: meter;
  background:whitesmoke;
  border-radius: 0.2em;
  width: 8em;
  margin: 2px 0;
}

meter::after {
  content : attr(value) ' / 10' ;
  top:-1.4em;
  left:0.4em;
  position:relative;
  color: white;
  font-size: 0.8em;
}

summary * {  
  display: inline-block;
}
summary{
  cursor: pointer;
  padding: 0em 1em;
  list-style: none;
}
summary:hover{
  background-image: linear-gradient(to left, whitesmoke 10%, white 100%);
}

sub{
  float: right;
  margin-right: 0.8em;
}

details[open] summary {
  border-bottom: whitesmoke 0.1em solid;  
}

summary::-webkit-details-marker {
  display:none !important;
}

header, section {
  box-shadow: 0.8px 0.8px 1.4px 1.4px lightgray;
  margin-bottom: 0.4em;
}

section{
  padding: 0.1em 0.1em 0.2em;
  background-color: white;
}

hr {
  border-top: 0.05px dashed;
  margin: 1px 0px;
}

ul.skills {
  max-height: 24em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 0.1em 0.5em;
  font-weight: bold;
  padding-right: 0.4em;
}

ul.skills li {
  flex: 1 1 22em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.d-flex {
  display: flex !important;
  flex-flow: row nowrap;
  flex-shrink: 0;
  justify-content: space-between;
}

.padding-inline{
  padding-inline-start: 1.1em;
}

.small-font{
  font-size: small;
}

.github-page-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

@media print {
  .pagebreak { page-break-before: always; } /* page-break-after works, as well */

  .github-page-link {
    cursor: pointer;
    pointer-events: default;
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
  }
}

@media only screen and (max-width: 375px) {
  dd{
    margin-inline-start: 14px;
    padding-inline-end: 0.2em;
  }
}
