@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

body{
  font-family: "Lato", sans-serif;
  max-width: 21cm;
  max-height: 29.7cm;
  margin: 0 auto;
  padding: 8px;
  font-size: 14px;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}

header{
  color: white;
  background-color: orange;
  padding: 1.2em 1em;
}

header img{
  height: 1em;
  position: relative;
  margin: 0 0.4em -0.2em;
  filter: invert(1);
}

header ul{
  padding-inline-start: 0.1em;
}
header li{
  margin: 0.2em;
  font-size: 1.1em;
}

header a {
  color: whitesmoke;
}


main a {
  color: black;
  text-decoration: none;
  margin-bottom: 0.1em;
}

main a::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0.5em;
  padding: 0;
  color: orange;
}

a:hover::after{
  color: orange;
  border-bottom: 0.1em solid orange;
}

main a:hover{
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.16em;
}

h1{
  font-size: 2.5em;
  margin-block-start: .1em;
  margin-block-end: 0;
}

h2{
  margin-block-end: .16em;
  margin-block-start: .16em;
  opacity: 0.7;
}

h3,h4 {
  margin-block-start: .2em;
  margin-block-end: 0;
}

em{
  font-weight: bold;
}

sub{
  float: right;
}

details > ul,
address > ul{
  list-style-type: none;
  font-weight: bold;
}


dl,ul{
  padding-inline-start: 1.2em;
  margin-block-start: 0.2em;
  margin-block-end: 0.4em;
}

meter::-webkit-meter-optimum-value {
  background:orange;
  background-size: 100% 100%;
  height: 1.2em;
  border-radius: 0.1em;
  box-shadow: 1px 1px 1.6px 1.6px lightgray;
}

meter::-webkit-meter-bar {
  background:whitesmoke;
  background-size: 100% 100%;
  height: 1.4em;
  border: solid 0.08em lightgray;
  border-radius: 0.2em;
  box-shadow: 1px 1px 1px 1px lightgray inset;
}

meter{
  -webkit-appearance: meter;
  background:whitesmoke;
  width: 12em;
  border-radius: 0.2em;
  height: 1.4em;
}

meter::after {
  content : attr(value) ' / 4' ;
  top:-1.8em;
  left:0.8em;
  position:relative;
  color: white;
  font-size: 0.8em;
}

summary * {  
  display: inline-block;
}
summary{
  cursor: pointer;
  padding: 0.2em 1em;
  list-style: none;
}
summary:hover{
  background-image: linear-gradient(to left, whitesmoke 10%, white 100%);
}

sub{
  margin: 0 2em;
}

details[open] summary {
  border-bottom: whitesmoke 0.1em solid;  
}

summary::-webkit-details-marker {
  display:none !important;
}

header, section {
  box-shadow: 1px 1px 1.6px 1.6px lightgray;
  margin-bottom: 0.4em;
}

section{
  padding: 0.4em;
  background-color: white;
}

.d-flex {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.skills {
  max-height: 24em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.skills li {
  flex: 1 1 24em;
  margin: 0.4em 1em auto 0;
  display: flex;
  justify-content: space-between;
}