@import url("http://fonts.googleapis.com/css?family=Lato:400,700");

body{
  font-family: "Lato", sans-serif;
  max-width: 21cm;
  max-height: 29.7cm;
  margin: 8px auto;
  padding: 8px;
  background-color: whitesmoke;
  -webkit-font-smoothing: antialiased;
}

header{
  color: white;
  background-color: orange;
  padding: 3em 1.6em 1em;
}

header ul{
  padding-inline-start: 0.1em;
}

header a {
  color: whitesmoke;
}

main a {
  color: black;
  text-decoration: none;
}

main a::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 0.5em;
  height: 3em;
  padding: 0;
  color: orange;
}

a:hover::after{
  color: orange;
  border-bottom: 0.1em solid orange;
}

a:hover{
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 0.2em;
}

h2{
  margin-block-end: .16em;
  margin-block-start: .16em;
  opacity: 0.7;
}

h3,h4 {
  margin-block-end: 0;
}

em{
  font-weight: bold;
}

details > ul,
address > ul{
  list-style-type: none;
  font-weight: bold;
}


dl,ul{
  padding-inline-start: 1.2em;
  margin-block-start: 0;
  margin-block-end: .2em;
}

meter::-webkit-meter-optimum-value {
  background:orange;
  background-size: 100% 100%;
}

meter::-webkit-meter-bar {
  background:transparent;
  background-size: 100% 100%;
  height: 1em;
  border-radius: 0.1em;
}

meter{
  -webkit-appearance: meter;
  background:white;
  border: solid 0.04em lightgray;
  width: 8em;
}

summary * {  
  display: inline-block;
}
summary{
  cursor: pointer;
  padding: 0.2em 1em;
  list-style: none;
}
summary:hover{
  background-image: linear-gradient(to right, whitesmoke 10%, white 100%);
}

sub{
  margin: 2em;
}

details[open] summary {
  border-bottom: whitesmoke 0.1em solid;  
}

summary::-webkit-details-marker {
  display:none !important;
}

header, section {
  border: 0.8px solid lightgray;
  box-shadow: 1.2px 1.2px 1.6px 1.6px lightgray;
  margin-bottom: 8px;
}

section{
  padding: 0.4em;
  background-color: white;
}

.d-flex {
  display: flex !important;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.skills {
  max-height: 16em;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

ul.skills li {
  flex: 1 1 16em;
  margin: 0.4em 1em auto 0;
  display: flex;
  justify-content: space-between;
}

